body {
    background: rgb(13,23,35);
    color: white;
    --off-text-color: rgb(135, 142, 158);
}
main {
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    width: 8rem;
    padding: .5rem 0;
    border-radius: 4px;
    border-width: 1px;
    color: white;
    font-size: 1.1rem;
}

li {
    position: relative;
}

.row-container {
    margin-right: 2rem;
}

.spread span{
    font-family: Consolas,Menlo,Droid Sans Mono,Courier New,monospace;
}
.spread{    
    color: var(--off-text-color);
    margin: auto;
}

.row-container,
.grid-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr;
}

.grid-container.--ask {
    margin-right: 2rem;
}
.grid-container.--bid {
    margin-right: 2rem;
}

.row-container span,
.grid-container span {
    display: flex;
    width: auto;
    justify-content: flex-end;
    padding: .25rem 0;
    font-family: Consolas,Menlo,Droid Sans Mono,Courier New,monospace;
}

.grid-container span.--header{
    color: var(--off-text-color);
}

@media only screen and (min-width: 600px) {
    .row-container.--bid > .price-col,
    .grid-container.--bid > .price-col {
        order: 3;
    }
    .row-container.--bid > .size-col,
    .grid-container.--bid > .size-col {
        order: 2;
    }
    .row-container.--bid > .total-col,
    .grid-container.--bid > .total-col {
        order: 1;
    }

    .row-container.--ask,
    .grid-container.--ask {
        grid-template-columns: 1.25fr 1fr 1fr;
    }
    .row-container.--bid,
    .grid-container.--bid {
        grid-template-columns: 1fr 1fr 1.25fr;
    }

    .grid-container.--ask {
        margin-right: 4rem;
    }
    /* .grid-container.--ask {
        margin-right: 0;
    } */

    .row-container.--ask {
        margin-right: 4rem;
    }

    .order-section.--ask {
        order: 1;
    }
}